PORT=3000

# application url
APP_URL=http://app.commander.net

# mysql server configuration
DB_HOST=localhost
DB_USER=user
DB_PASSWORD=password
DB_PORT=3306
DB_DATABASE=db

# redis configuration
REDIS_URL=redis://username:pasowrd@host.local:6380

# docker config file path
CONFIG_PATH=/YOUR/WORKING/DIRECTORY/config.json

# 2fa label and issuer
2FA_LABEL = com.example.commander
2FA_ISSUER = Commander

# discord web hook
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/~~~
DISCORD_LOG_WEBHOOK_URL=https://discord.com/api/webhooks/~~~